/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* MENU */
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-color);
}
.logo img {
  width: 170px;
  height: auto;
  margin: 30px 20px;
}
.menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
  gap: 60px;
}
.menu a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
}
.menu a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

/* FOOTER */
footer h3 {
  padding-bottom: 10px;
}
footer {
  background-color: var(--footer-color);
  padding: 20px;
  font-family: "universregular";
  color: var(--text-color);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-item {
  display: flex;
  align-items: center;
}
.contact-item img {
  height: 24px;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* FORSIDE */
main {
  min-height: 400px;
}
h1 {
  margin: 60px auto 40px;
  text-align: center;
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 20px;
}
.category_link {
  text-align: center;
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--footer-color);
}
.category_link:hover {
  background-color: var(--hover-color);
}

/* PRODUCTLIST */
.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}
.product_list_container a {
  text-decoration: none;
}
.product_card {
  display: flex;
  flex-direction: column;
}

.product_card:hover {
  transform: scale(1.02);
  color: var(--primary-color);
}

.product_brand {
  color: rgb(182, 182, 182);
  margin-top: 10px;
}

.product_name {
  font-size: 1.3rem;
  font-family: "Chonburi";
}

.product_price {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* PRODUCT */
