/* COLOR-VARIABLE */
html {
  --primary-color: #6a0225;
  --background-color: #f2f2f2;
  --text-color: #3c3937;
  --footer-color: #e4e4e4;
  --hover-color: #4d051d;
}
/* UNIVERS-FONT */
@font-face {
  font-family: "universregular";
  src: url("../univers-font/universregular-webfont.woff2") format("woff2"), url("../univers-font/universregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "universbold";
  src: url("../univers-font/universbold-webfont.woff2") format("woff2"), url("../univers-font/universbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: var(--background-color);
}

main {
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Chonburi";
  font-weight: 400;
  color: var(--primary-color);
}

p,
ul,
li,
a {
  font-family: "universregular";
  color: var(--text-color);
}

.bold {
  font-family: "universbold";
}
